html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Gothic A1', sans-serif;
	background-color: lightsalmon;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
h1 {
	font-weight: 300;
}
/* * Styles for the deck of cards */
.deck {
	width: 85%;
	background: linear-gradient(180deg, rgba(11,158,124,1) 0%, rgba(27,99,121,1) 100%);
	padding: 1rem;
	border-radius: 4px;
	box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0 0 3em;
}
.deck .card {
	height: 3.7rem;
	width: 3.7rem;
	margin: 0.2rem 0.2rem;
	background: #9d93c0;
	font-size: 0;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}
.deck .card.open {
	
	background: #368fa8;
	cursor: default;
}
.deck .card.show {
	font-size: 60px;
}
.deck .card.unmatched {
	background: rgb(165, 95, 95);
}
.deck .card.match {
	cursor: default;
	background: #138d83;
	font-size: 50px;
}
.deck .card.freeze {
	pointer-events: none;
	opacity: 0.9;
}
/* * Styles for the Score Panel */
.score-panel {
	text-align: left;
	margin-bottom: 10px;
}
.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}
.score-panel .stars li {
	list-style: none;
	display: inline-block;
}
.score-panel .restart {
	float: right;
	cursor: pointer;
}
.timer {
	display: inline-block;
	margin: 0 1rem;
}
.fa-star {
	color: rgba(255, 217, 0, 0.596);
}
/*Styles for the Summary*/
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(58, 39, 39, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.results {
	margin: 70px auto;
	padding: 20px;
	background: linear-gradient(180deg, rgba(103,101,98,1) 0%, rgba(194,192,192,1) 100%);
	border-radius: 5px;
	width: 85%;
	position: relative;
}
.results h1 {
	margin-top: 0;
	color: #333;
	text-align: center;
}
.results {
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.results {
	color: #E5F720;
}
.results .message, .result {
	max-height: 30%;
	overflow: auto;
	text-align: center;
}
.show {
	visibility: visible !important;
	opacity: 100% !important;
}
#rating li {
	display: inline-block;
}
#reset {
	background-color: #9e9e9e;
	padding: 0.7rem 1rem;
	font-size: 1rem;
	display: block;
	margin: 0 auto;
	width: 30%;
	color: #2c2c2c;
	border-radius: 20px;
}
#reload {
	background-color: #9e9e9e;
	border-radius: 5px;
	font-size: 25px;
}
@media (max-width: 320px) {
	.deck {
		width: 85%;
   }
	.deck .card {
		height: 4.7rem;
		width: 4.7rem;
   }
}
@media (min-width: 768px) {
	.container {
		font-size: 22px;
   }
	.deck {
		width: 660px;
		height: 680px;
   }
	.deck .card {
		height: 125px;
		width: 125px;
   }
	.results {
		width: 60%;
   }
}
